.todoApp{
    font:normal 15px Arial;
}
.newTodo{
    padding:5px;
}
ul {
    padding: 0;
    margin: 0;
}



.completed{
    text-decoration:line-through;
}

.footer{
}

.footer a {
    padding:5px 10px;

}
.footer a.selected{ background:yellow; }

body{
    background:green;
}